*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 600px;
    margin: 0 auto;
   
}
#contact{
   
    background: blue;
    border: 3px black;
    padding: 85px;
    margin: 100px 0;
}
div{
    border: 3px black;
}